<!Doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Blog Homepage</title>
	
	<link rel="stylesheet" href="./css/nivo-slider.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	
	<script type="text/javascript" src="js/jquery.nivo.slider.js"></script>
	
	<script type="text/javascript" src="js/sliderimage.js"></script>
	
</head>
<body>
	<div class="headersection template clear">
		<div class="logo">
			<img src="images/blogLogo.png" alt="Blog Logo" />
			<h2>Tech Bytes</h2>
		</div>
		<div class="social">
			<img src="images/facebook.png" alt="Facebook" />
			<img src="images/twitter.png" alt="Twitter" />
			<img src="images/linkedin.png" alt="LinkedIn" />
			<img src="images/googlePlus.png" alt="GooglePlus" />
		</div>
	</div>
	<div class="navsection template clear">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Privacy</a></li>
		</ul>
	</div>
	
	<div class="slidersection template clear">
		<div id="slider">
            <a href="#"><img src="images/nadella.jpg" alt="Satya Nadella" title="Suspendisse quis velit ac nisl ultrices tristique a eu velit." /></a>
            <a href="#"><img src="images/elonmusk.jpg" alt="Elon Musk" title="Suspendisse quis velit ac nisl ultrices tristique a eu velit." /></a>
            <a href="#"><img src="images/deepmind.jpg" alt="Deep Mind" title="Suspendisse quis velit ac nisl ultrices tristique a eu velit." /></a>
            <a href="#"><img src="images/machinehuman.jpg" alt="Machine Learning" title="Suspendisse quis velit ac nisl ultrices tristique a eu velit." /></a>
        </div>
	
	</div>
	
	
	<div class="contentsection template clear">
		<div class="maincontent clear">
			<div class="samepost clear">
				<h2>Our Post Title Here</h2>
				<img src="images/nature.jpg" alt="Nature" />
			<p>
				Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.
			</p>
			<div class="readmore clear">
				<a href="#">Read More</a>
			</div>
			</div>
			<div class="samepost clear">
				<h2>Our Post Title Here</h2>
				<img src="images/nature.jpg" alt="Nature" />
			<p>
				Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.
			</p>
			<div class="readmore clear">
				<a href="#">Read More</a>
			</div>
			</div>
			<div class="samepost clear">
				<h2>Our Post Title Here</h2>
				<img src="images/nature.jpg" alt="Nature" />
			<p>
			 Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.
			</p>
			<div class="readmore clear">
				<a href="#">Read More</a>
			</div>
			</div>
		</div>
		<div class="sidebar clear">
			<div class="samesidebar clear">
				<h2>Latest articles</h2>
					<ul>
						<li><a href="#">Post title one will goes here.</a></li>
						<li><a href="#">Post title two will goes here.</a></li>
						<li><a href="#">Post title three will goes here.</a></li>
						<li><a href="#">Post title four will goes here.</a></li>
						<li><a href="#">Post title five will goes here.</a></li>
						<li><a href="#">Post title six will goes here.</a></li>
					</ul>
			</div>
			<div class="samesidebar clear">
				<h2>Sidebar Two Header</h2>
				<p>
					Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.
				</p>
				<p>
					Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.
				</p>
			</div>
			<div class="samesidebar clear">
				<h2>Sidebar Three Header</h2>
				<p>
					Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.
				</p>
				<p>
					Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.
				</p>
			</div>
		</div>
	</div>
	<div class="footersection template clear">
		<div class="footermenu clear">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Privacy</a></li>
			</ul>
		</div>
		<p>&copy; Copyright TechBytes.</p>
	</div>
</body>
</html>