<% include template/header %>
		
		<section id="content_area">
			<div class="clearfix wrapper main_content_area">
			
				<div class="clearfix main_content floatleft">
				
					<div class="clearfix slider">
						<ul class="pgwSlider">
							<li><img src="images/nadella.jpg"  alt="Satya Nadella" data-large-src="images/nadella.jpg"  data-description="The CEO of Microsoft." /></li>
							<li><img src="images/elonmusk.jpg" alt="Elon Musk"     data-large-src="images/elonmusk.jpg" data-description="The CEO of Tesla Motors and SpaceX."/></li>
							<li><img src="images/deepmind.jpg" alt="Google"        data-large-src="images/deepmind.jpg" data-description="Google Deep Mind Beat Human AlphaGo Champion."></li>
						</ul>
					</div>
					
					<div class="clearfix content">
						<div class="content_title"><h2>Latest Blog Post</h2></div>
						
						<div class="clearfix single_content">
							<div class="clearfix post_date floatleft">
								<div class="date">
									<h3>20</h3>
									<p>November</p>
								</div>
							</div>
							<div class="clearfix post_detail">
								<h2><a href="">Most Valuable U.S. Companies Over 100 Years. </a></h2>
								<div class="clearfix post-meta">
									<p><span><i class="fa fa-user"></i> Admin</span> <span><i class="fa fa-clock-o"></i> 20 Nov 2017</span> <span><i class="fa fa-comment"></i> 4 comments</span> <span><i class="fa fa-folder"></i> Category</span></p>
								</div>
								<div class="clearfix post_excerpt">
									<img src="images/billgates.jpg" alt=""/>
									<p>How much does the business world shift in a century?
                                       Today’s visualization comes from HowMuch.net, and it uses Forbes data to show how the list of the
                                       top 10 companies in the U.S. has evolved over the last 100 years. </p>
								</div>
								<a href="http://www.visualcapitalist.com/most-valuable-companies-100-years/">Continue Reading</a>
							</div>
						</div>
						
						<div class="clearfix single_content">
							<div class="clearfix post_date floatleft">
								<h3>20</h3>
								<p>November</p>
							</div>
							<div class="clearfix post_detail">
								<h2><a href="">Robot Takeover Matters Less If We're Shareholders. </a></h2>
								<div class="clearfix post-meta">
									<p><span>Admin</span> <span>20 Nov 2017</span> <span>4 comments</span> <span>Category</span></p>
								</div>
						        <div class="clearfix post_excerpt">
									<img src="images/image 1.JPG" alt=""/>
									<p>A social wealth fund could combat inequality and provide macroeconomic stability. It’s also a way to insure the American middle and working classes against the upheaval of technological change.. </p>
								</div>
								<a href="http://www.industryweek.com/finance/robot-takeover-matters-less-if-were-shareholders">Continue Reading</a>
							</div>
						</div>
						
						<div class="clearfix single_content">
							<div class="clearfix post_date floatleft">
								<h3>20</h3>
								<p>November</p>
							</div>
							<div class="clearfix post_detail">
								<h2><a href="">Final Countdown: Nissan Introducing Fully Autonomous Cars in 2022. </a></h2>
								<div class="clearfix post-meta">
									<p><span>Admin</span> <span>20 Nov 2017</span> <span>4 comments</span> <span>Category</span></p>
								</div>
						     	<div class="clearfix post_excerpt">
									<img src="images/image 2.JPG" alt=""/>
									<p>Nissan Motor Co. says it’s aiming to introduce fully autonomous cars to the market in 2022, as the Japanese carmaker strives to establish itself as a front-runner in driverless technologies.

The carmaker plans to add autonomous-driving functions step by step, first allowing more cars to handle single-lane driving by themselves, and subsequently navigate urban roads, including intersections, by 2020, said Yutaka Sanada, a Nissan senior vice president, at Bloomberg’s Year Ahead Asia conference in Jakarta. </p>
								</div>
								<a href="http://www.industryweek.com/emerging-technologies/final-countdown-nissan-introducing-fully-autonomous-cars-2022">Continue Reading</a>
							</div>
						</div>
						
						<div class="clearfix single_content">
							<div class="clearfix post_date floatleft">
								<h3>20</h3>
								<p>November</p>
							</div>
							<div class="clearfix post_detail">
								<h2><a href="">Tesla actually built the world’s biggest battery. Here’s how it works. </a></h2>
								<div class="clearfix post-meta">
									<p><span>Admin</span> <span>20 Nov 2017</span> <span>4 comments</span> <span>Category</span></p>
								</div>
						     	<div class="clearfix post_excerpt">
									<img src="images/image 3.JPG" alt=""/>
									<p>It would be cool if the largest battery in the world were a giant AA cell, but this is what it actually looks like. </p>
								</div>
								<a href="https://www.popsci.com/tesla-building-worlds-biggest-battery-how-it-will-work">Continue Reading</a>
							</div>
						</div>
						
						<div class="clearfix single_content">
							<div class="clearfix post_date floatleft">
								<h3>20</h3>
								<p>November</p>
							</div>
							<div class="clearfix post_detail">
								<h2><a href="">GE’s 12,000 Job Cuts Highlight Uneasy Shift to Renewable Energy. </a></h2>
								<div class="clearfix post-meta">
									<p><span>Admin</span> <span>20 Nov 2017</span> <span>4 comments</span> <span>Category</span></p>
								</div>
						     	<div class="clearfix post_excerpt">
									<img src="images/image 4.JPG" alt=""/>
									<p>After spending years building up its gas-power business, General Electric Co. is trying to figure out how to keep pace in a world that’s no longer all that interested in fossil fuels.

The plan to cut 12,000 jobs — almost one-fifth of the power division’s global workforce — underscores GE’s bad bet on an old-school industry as natural gas loses favor and renewable energy gains. The company’s $10 billion deal to buy Alstom SA’s assets two years ago has compounded the pain.

“They clearly misjudged the shift that’s going on in the market,” said Jeff Sprague, an analyst with Vertical Research Partners. “It’s possible that there’s some semblance of stabilization, but there’s not really a good case for the business to go back to its former strength.” </p>
								</div>
								<a href="http://www.industryweek.com/companies-executives/ge-s-12000-job-cuts-highlight-uneasy-shift-renewable-energy">Continue Reading</a>
							</div>
						</div>
					</div>
					
					<div class="pagination">
						<nav>
							<ul>
								<li><a href=""> << </a></li>
								<li><a href="">1</a></li>
								<li><a href="">2</a></li>
								<li><a href="">3</a></li>
								<li><a href="">4</a></li>
								<li><a href=""> >> </a></li>
							</ul>
						</nav>
					</div>
				</div>
				
<% include template/sidebar %>
<% include template/footer %>