<!Doctype html>
<html>
<head>
	<title>Blog Homepage</title>
	<link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
	<div class="headersection template clear">
		<h2>Header</h2>
	</div>
	<div class="navsection template clear">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Privacy</a></li>
		</ul>
	</div>
	<div class="contentsection template clear">
		<div class="maincontent clear">
			<div class="samepost clear">
				<h2>Our Post Title Here</h2>
				<img src="image/nature.jpg" alt="Nature" />
			<p>
				Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.
			</p>
			<div class="readmore clear">
				<a href="#">Read More</a>
			</div>
			</div>
			<div class="samepost clear">
				<h2>Our Post Title Here</h2>
				<img src="image/nature.jpg" alt="Nature" />
			<p>
				Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.
			</p>
			<div class="readmore clear">
				<a href="#">Read More</a>
			</div>
			</div>
			<div class="samepost clear">
				<h2>Our Post Title Here</h2>
				<img src="image/nature.jpg" alt="Nature" />
			<p>
				Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.Some text will be go here.
			</p>
			<div class="readmore clear">
				<a href="#">Read More</a>
			</div>
			</div>
		</div>
		<div class="sidebar clear">
			<div class="samesidebar clear">
				<h2>Sidebar One Header</h2>
				<p>
					Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.
				</p>
				<p>
					Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.
				</p>
			</div>
			<div class="samesidebar clear">
				<h2>Sidebar Two Header</h2>
				<p>
					Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.
				</p>
				<p>
					Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.
				</p>
			</div>
			<div class="samesidebar clear">
				<h2>Sidebar Three Header</h2>
				<p>
					Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.
				</p>
				<p>
					Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.Sidebar text will be go here.
				</p>
			</div>
		</div>
	</div>
	<div class="footersection template clear">
		<p>Footer</p>
	</div>
</body>
</html>