<% include template/header %>
		
		<section id="content_area">
			<div class="clearfix wrapper main_content_area">
			
				<div class="clearfix main_content floatleft">
				
					<div class="clearfix slider">
						<ul class="pgwSlider">
							<li><img src="images/nadella.jpg"  alt="Satya Nadella" data-large-src="images/nadella.jpg"  data-description="The CEO of Microsoft." /></li>
							<li><img src="images/elonmusk.jpg" alt="Elon Musk"     data-large-src="images/elonmusk.jpg" data-description="The CEO of Tesla Motors and SpaceX."/></li>
							<li><img src="images/deepmind.jpg" alt="Google"        data-large-src="images/deepmind.jpg" data-description="Google Deep Mind Beat Human AlphaGo Champion."></li>
						</ul>
					</div>
					
					<div class="clearfix content">
						<div class="content_title"><h2>Latest Blog Post</h2></div>
						
						<div class="clearfix single_content">
							<div class="clearfix post_date floatleft">
								<div class="date">
									<h3>20</h3>
									<p>November</p>
								</div>
							</div>
							<div class="clearfix post_detail">
								<h2><a href="">Most Valuable U.S. Companies Over 100 Years. </a></h2>
								<div class="clearfix post-meta">
									<p><span><i class="fa fa-user"></i> Admin</span> <span><i class="fa fa-clock-o"></i> 20 Nov 2017</span> <span><i class="fa fa-comment"></i> 4 comments</span> <span><i class="fa fa-folder"></i> Category</span></p>
								</div>
								<div class="clearfix post_excerpt">
									<img src="images/billgates.jpg" alt=""/>
									<p>How much does the business world shift in a century?
                                       Today’s visualization comes from HowMuch.net, and it uses Forbes data to show how the list of the
                                       top 10 companies in the U.S. has evolved over the last 100 years. </p>
								</div>
								<a href="/post">Continue Reading</a>
							</div>
						</div>
						
						<div class="clearfix single_content">
							<div class="clearfix post_date floatleft">
								<h3>20</h3>
								<p>November</p>
							</div>
							<div class="clearfix post_detail">
								<h2><a href="">Most Valuable U.S. Companies Over 100 Years. </a></h2>
								<div class="clearfix post-meta">
									<p><span>Admin</span> <span>20 Nov 2017</span> <span>4 comments</span> <span>Category</span></p>
								</div>
						        <div class="clearfix post_excerpt">
									<img src="images/billgates.jpg" alt=""/>
									<p>How much does the business world shift in a century?
                                       Today’s visualization comes from HowMuch.net, and it uses Forbes data to show how the list of the
                                       top 10 companies in the U.S. has evolved over the last 100 years. </p>
								</div>
								<a href="/post">Continue Reading</a>
							</div>
						</div>
						
						<div class="clearfix single_content">
							<div class="clearfix post_date floatleft">
								<h3>20</h3>
								<p>November</p>
							</div>
							<div class="clearfix post_detail">
								<h2><a href="">Most Valuable U.S. Companies Over 100 Years. </a></h2>
								<div class="clearfix post-meta">
									<p><span>Admin</span> <span>20 Nov 2017</span> <span>4 comments</span> <span>Category</span></p>
								</div>
						     	<div class="clearfix post_excerpt">
									<img src="images/billgates.jpg" alt=""/>
									<p>How much does the business world shift in a century?
                                       Today’s visualization comes from HowMuch.net, and it uses Forbes data to show how the list of the
                                       top 10 companies in the U.S. has evolved over the last 100 years. </p>
								</div>
								<a href="/post">Continue Reading</a>
							</div>
						</div>
						
						<div class="clearfix single_content">
							<div class="clearfix post_date floatleft">
								<h3>20</h3>
								<p>November</p>
							</div>
							<div class="clearfix post_detail">
								<h2><a href="">Most Valuable U.S. Companies Over 100 Years. </a></h2>
								<div class="clearfix post-meta">
									<p><span>Admin</span> <span>20 Nov 2017</span> <span>4 comments</span> <span>Category</span></p>
								</div>
						     	<div class="clearfix post_excerpt">
									<img src="images/billgates.jpg" alt=""/>
									<p>How much does the business world shift in a century?
                                       Today’s visualization comes from HowMuch.net, and it uses Forbes data to show how the list of the
                                       top 10 companies in the U.S. has evolved over the last 100 years. </p>
								</div>
								<a href="/post">Continue Reading</a>
							</div>
						</div>
						
						<div class="clearfix single_content">
							<div class="clearfix post_date floatleft">
								<h3>20</h3>
								<p>November</p>
							</div>
							<div class="clearfix post_detail">
								<h2><a href="">Most Valuable U.S. Companies Over 100 Years. </a></h2>
								<div class="clearfix post-meta">
									<p><span>Admin</span> <span>20 Nov 2017</span> <span>4 comments</span> <span>Category</span></p>
								</div>
						     	<div class="clearfix post_excerpt">
									<img src="images/billgates.jpg" alt=""/>
									<p>How much does the business world shift in a century?
                                       Today’s visualization comes from HowMuch.net, and it uses Forbes data to show how the list of the
                                       top 10 companies in the U.S. has evolved over the last 100 years. </p>
								</div>
								<a href="/post">Continue Reading</a>
							</div>
						</div>
					</div>
					
					<div class="pagination">
						<nav>
							<ul>
								<li><a href=""> << </a></li>
								<li><a href="">1</a></li>
								<li><a href="">2</a></li>
								<li><a href="">3</a></li>
								<li><a href="">4</a></li>
								<li><a href=""> >> </a></li>
							</ul>
						</nav>
					</div>
				</div>
				
<% include template/sidebar %>
<% include template/footer %>