<% include template/header %>
		
		<section id="content_area">
			<div class="clearfix wrapper main_content_area">
			
				<div class="clearfix main_content floatleft">
				
					
					<div class="clearfix content">
						
						<h1>The Most Valuable Companies in America Over 100 Years </h1>
						<div class="clearfix post-meta">
							<p><span><i class="fa fa-user"></i> Admin</span> <span><i class="fa fa-clock-o"></i> 20 Nov 2017</span> <span><i class="fa fa-comment"></i> 4 comments</span> <span><i class="fa fa-folder"></i> Category</span></p>
						</div>
						
						<div class="blogarticle">
							
						<p>Economists like to explain the constant churn of the economy as “creative destruction.”
						It implies a silver lining when a single company breaks up—something better might take its place.
						An interesting way to think about this concept is by looking at historical examples of companies that have come and gone.
						That’s exactly what our new chart does.</p><br>
						
						<div class="blogimg"><img src="images/blogimage.jpg" alt="Blog Post Image"></div>
						
						<p>Our viz lays out the top ten largest companies according to Forbes in a historical sequence for 1917, 1967 and 2017.
						The size of the circle corresponds to the company’s valuation adjusted for inflation to 2017 dollars.
						We then color-coded each circle by industry, and we added the company’s logo for a quick read on the ranking.</p><br>

						<p>Lots can be said about the implications of our viz. First off,
						the graph represents valuations adjusted for inflation in 2017 dollars.
						Why is this important? It means that the United States is far wealthier now than it was 50 or 100 years ago.
						Our largest companies are significantly larger and worth more than the largest companies in 1967 and 1917.
						Just look at the size of Apple compared to IBM—it’s not even close.
						In 1967, IBM was valued at $259B. That doesn’t break the top ten today.</p><br>

						<p>The top ten largest companies in each year are all different. The rankings change, and as time goes on,
						companies lose their place on top of the list. The one exception is AT&T, which held the second spot in 1917 and 1967.
						That is, until the U.S. government famously broke up AT&T (which is why it’s probably not in the top 10 today).
						AT&T is the exception that proves the rule.</p><br>
						
												
						<blockquote>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry
							<span>Antorjal alin</span>
						</blockquote>

						<p>Technically speaking, most of these companies still exist today, but only because they went through substantial
						business model changes or were acquired by a competitor. Steel companies aren’t nearly as important as they once were.
						Within the energy sector, Texaco and Standard Oil both merged with competitors. 
						Polaroid and Kodak essentially became obsolete. It remains to be seen how much longer some companies like Sears
						and GE can stay afloat.</p><br>

						<p>And finally, consider the diversity of companies 50 and 100 years ago. The top ten largest firms used to represent
						a variety of different industries, from oil and gas conglomerates to retailers and auto manufacturers.
						Nowadays, technology behemoths dominate the top five, followed by Warren Buffet’s massive holding company in 
						Berkshire Hathaway. The massive steel monopolies from a century ago pale in comparison to the size of tech companies today.
						This suggests that the Internet has concentrated financial power in the boardrooms of only a handful of companies like never
						before. This is one of the many reasons why tech companies have to worry about
						regulators busting up their monopolies.</p><br>
						
						<p>So the economy has undergone significant changes over the last century, and the creative destruction will churn on.
						You can be sure that the top ten companies in 2067 will look substantially different than today,
						and just imagine what the list will look like in 2117.</p><br><br>
						
						</div>
				
						
						<div class="more_post_container">
							<h2>You may Also like:</h2>
							<div class="more_post">
								<a href="">Lorem Ipsum is simply dummy text of the printing</a>
								<a href="">Lorem Ipsum is simply dummy text of the printing</a>
								<a href="">Lorem Ipsum is simply dummy text of the printing</a>
							</div>
						</div>	

						<div class="advertisement_container">
							<div class="advertisement">
								
							</div>
						</div>	
						
						<a class="btn" href="">Preview</a>
						<a class="btn" href="">Download</a>
					
					</div>
					
						<div class="more_themes">
							<h2>Related Post <i class="fa fa-thumbs-o-up"></i></h2>
							<div class="more_themes_container">
								<div class="single_more_themes floatleft">
									<img src="https://dummyimage.com/220x150/000/fff&text=Thumbnail" alt=""/>
									<a href=""><h2>Magazine Wp Template</h2></a>
								</div>
								<div class="single_more_themes floatleft">
									<img src="https://dummyimage.com/220x150/000/fff&text=Thumbnail" alt=""/>
									<a href=""><h2>Magazine Wp Template</h2></a>
								</div>
								<div class="single_more_themes floatleft">
									<img src="https://dummyimage.com/220x150/000/fff&text=Thumbnail" alt=""/>
									<a href=""><h2>Magazine Wp Template</h2></a>
								</div>

							</div>
						</div>
				   </div>
				
<% include template/sidebar %>		
<% include template/footer %>