body{width:100%;}
#hd{
  position: fixed;
  z-index: 1000000000;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100px;
  padding: 8px;
  padding-left: 0px;
  background-color: #292929;
}
img{
  position: relative;
  top:10px;
  right:-100px;
}
h1 {
    position:fixed;
    top:10px;
    width:100%;
    text-align:center;
    background-color: #f2f2f2;
    padding: 10px;
}
.id {
    position: relative;
    top: 0px;
    right: -250px;
    background-color: #292929;
    color: white;
    border-radius: 5px;
    padding: 8px 15px;
    text-align: center;
    font-family: "Arial", Verdana,sans-serif;
    text-decoration: none;
    display: inline-block;
}


a.id:hover, a.id:active {
    background-color: #484848;
}
.id2 {
    position: relative;
    top: -60px;
    right: -550px;
    background-color: #292929;
    color: white;
    border: none;
    padding: 8px 15px;
    text-align: center;
    font-family: "Arial", Verdana,sans-serif;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}


a.id2:hover, a.id2:active {
    background-color: #484848;
}
/* Slideshow container */


body {font-family: Verdana,sans-serif;}
.mySlides {display:none}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  left:0px;
  margin: auto;
}


/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position:relative;
  top: 200px;
  left: -150px;
  width: 45%;


  margin: auto;
}




/* The dots/bullets/indicators */
.dot {
  position: relative;
  top:300px;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
input[type=text], select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display:list-item;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing:border-box;
}
#signin{
    
      position: relative;
      top:200px;
      left: 550px;
}
input[type=number], select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display:list-item;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing:border-box;
}
input[type=password], select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display:list-item;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing:border-box;
}


input[type=submit] {
    width: 300px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#fr{
  position:absolute;
  top:200px;
    left: 1000px;
    width: 300px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    display: none;


}


.footer{
  position:relative;

  top:10px;
  left: 0px;
  width: 100%;
  height: 100px;
  padding: 1px;
  padding-left: 0px;
  background-color: #292929;

}
